:root {
    --grey: #DDDDDD;
}

html, body { 
    margin: 0;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html * {
box-sizing: border-box;
}

header.top {
    display: flex;
   justify-content:space-between;
   padding: 10px;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
}

#main-menu ul {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    margin: 0;
    list-style: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 3em;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

}

#main-menu-btn:checked + ul {
    display: flex;
}

#main-menu-btn {
    position: relative;
    z-index: 100;
    width: 30px;
    height: 30px;
    opacity: 0;
    margin: 0;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

#main-menu-btn:checked {
  position: fixed;
  top: 15px;
  right: 15px;
}

#main-menu::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 110;
    background: transparent url(img/Nav_icon.svg) no-repeat center center / contain;
    opacity: 0.5;
    pointer-events: none;
}

#main-menu-bnt:hover + #main-menu:after {
   opacity: 0.5; 
}

header.top > * {
    
}

/*hero image*/
#hero-image {
  background: url(Img/blog-banner.png) no-repeat center top / cover;
  height: 300px;
  padding: 15px;
  position: relative;
  
  display: flex;

  flex-direction: column;
  justify-content: center;
}
#hero-image::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    opacity: 0.4;
    z-index: 0;
}

h1{
font-weight: 900;
color: white;
position: relative ;
z-index: 10;
}

#hero-image button{
    /* verwendet die Variablen für Farb-Angabeb */
background: red;
color: white;
border: none;
padding: 20px 37px;
border-radius: 15px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 500;
font-size: 16px;
cursor: pointer;
position: relative;
z-index: 10;
}

#hero-image > .inner-wrapper {
    width: 100%;
   padding-left: 100px;
   padding-right: 100px;
}

#hero-image button:hover {
    background-color: black;
}

/* common styles*/

a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: rgb(187, 53, 53);
}

.endline {
    font-size: 12px;
    text-align: center;
}

/*footer*/

footer.the-only-one {
    background-color: var(--grey) ;
    padding: 15px;
}

#footer-nav {
    display: flex;
    justify-content: space-evenly;
    
}
#footer-nav ul {
    list-style-type:"\25b8";
    color: red;
    padding: 0;
}

#footer-nav li {
    padding-left: 5px;
}

/* kann auch mit li::before angesprochen werden */
#footer-nav ul li::marker {
    color: red;
    padding-right: 5px;
}

/*maximale breite festlegen und element zentrieren*/
.inner-rapper {
    max-width: 1024px;
    /*zentriert ein block-element, gilt für elemente die display:block als eigenschaft haben*/
    margin-left: auto;
    margin-right: auto;
}